$primary: #3bc5a0;
$primary2: #0c362a;
$primary3: #176953;
$primary4: #84f0d3;
$primary5: #a3ffe6;
$accent-blue: #84cff0;
#cadastro {
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    img {
        width: 200px;
        background-color: $primary3;
        padding: 25px;
        border-radius: 50%;
    }

    .form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }

    .form-field {
        width: 100%;
    }

    mat-checkbox {
        font-family: "Montserrat";
        font-size: 0.9rem;

        a {
            color: $accent-blue;
        }
    }

    button {
        font-family: "Roboto";
        padding: 15px 80px;
        background-color: $primary3;
        border: none;
        border-radius: 40px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
}
