<div id="home">
    <div class="main-text">
        <h3>Ajude a manter o cicle de reciclagem!</h3>
        <h5>O meio ambiente Agradece</h5>
        <button [routerLink]="['/cadastro']">Ajude agora!</button>
    </div>

    <section>
        <div class="section-text-right">
            <h4>O Brasil recicla apenas 3% do lixo</h4>
            <p>O Brasil gerou, 79 milhões de toneladas de lixo segundo o Panorama dos Resíduos Sólidos 2018. Deste total, a estimativa é de que somente 3% sejam de fato reciclados, sendo que o potencial é de até 30%.</p>
        </div>
    </section>
    
    <section>
        <div class="section-text-left">
            <h4>Apenas 13% dos resíduos sólidos urbanos no país vão para reciclagem</h4>
            <p>Os resíduos sólidos tornaram-se, nos últimos anos, um dos problemas centrais em termos de planejamento urbano e gestão pública em praticamente todas as grandes cidades do mundo.</p>
        </div>
    </section>
</div>

<footer>
    <span>Desenvolvido por Augusto Calixto</span>
</footer>